body {
    margin: 0;
}

.login-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px 16px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: hsla(218, 31%, 5%, 0.05) 0px 5px 15px 0px,
      hsla(220, 25%, 10%, 0.05) 0px 15px 35px -5px;
}

.logo-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.logo-container::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: radial-gradient(ellipse at 50% 50%, color-mix(in srgb, var(--ant-blue-2) 30%, transparent), hsla(0, 0%, 100%, 0));
    background-repeat: no-repeat;
    /* ...theme.applyStyles('dark', {
      backgroundImage:
        'radial-gradient(at 50% 50%, hsl(245.93deg 100% 16% / 50%), hsl(230.82deg 30% 5%))',
    }), */
}